<section class="row gap-3 justify-content-center">
    <div class="col col-lg-10 d-grid gap-3">
      <h1>Minhas Notas Arquivadas</h1>
  
      <div class="d-flex gap-2">
        <button
          routerLink="/notas/listar"
          class="btn btn-lg btn-outline-primary mb-4 rounded-4"
        >
          <i class="bi bi-book-fill"></i>
          Ver Todas as Notas
        </button>
  
        <app-filtros-por-categoria 
        [categorias]="categorias"
        (onFiltroSelecionado)="filtrarNotasPorCategoria($event)">
        </app-filtros-por-categoria>
       
      </div>
      <div class="row g-3">
        <div *ngFor="let nota of notas" class="col-sm col-md-6 col-lg-3">
          <app-nota
            [nota]="nota" (onArquivarClicado)="reativarNota($event)"
          ></app-nota>
        </div>
      </div>
    </div>
  </section>